.blog-post-page {
  margin-bottom: 50px;

  &__feature, &__back {
    display: block;
    width: 100%;
    margin: 0 auto;

    @include mq($from: gel-bp-l) {
      width: 70%;
    }
 }

 &__back {
   margin-bottom: 15px;

   &__link {
    @include nice-underline;
   }
 }

  &__content {
    position: relative;
    top: -70px;
    width: 90%;
    background-color: $white;
    padding: 10px 20px;
    margin: 0 auto;

    @include mq($from: gel-bp-l) {
      width: 65%;
    }

   &__date {
    font-weight: 300;
    text-transform: uppercase;
   }

   &__title {
    @include headline-font;
    margin-top: 10px;
    width: 80%;
   }
 }
}
