.contact {
  margin-bottom: 50px;

  &__faq {
    margin-top: 10px;

    a {
      @include nice-underline();
    }
  }

  &__methods {
    text-align: center;
    margin: 50px 0 30px;

    &__link {
      display: inline-block;
      margin: 20px;
      max-width: 250px;
      background-color: $accessible-red;
      padding: 20px;
      color: $white;
      font-weight: bold;
      text-decoration: none;
      border-bottom: 5px solid transparent;

      .contact__svg {
        display: block;
        margin: 0 auto 30px;
      }

      &:focus {
        outline: 0;
        background-color: $accessible-red;
        border-bottom: 5px solid $black;
      }
    }
  }
}
