.contact-page {
  margin-bottom: 50px;

  &__faq {
    margin-top: 10px;

    a {
      @include nice-underline();
    }
  }

  &__contact {
    width: 80%;
    margin: 50px auto 0 auto;

    &__title {
      @include headline-font;
      font-size: 1.8rem;
    }

    &__link {
      @include nice-underline;
      display: block;
      margin: 10px 0;
      background-color: $white;
      border: 1px solid $black;
      padding: 20px;
    }
  }
}
