.home-page {
  margin-bottom: 50px;

  &__featured {
    display: block;
    position: relative;
    width: 100%;
    height: 300px;
    max-height: 300px;
    background-image: url('../../public/banners/christmas-2020.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 70%;

    &:hover, &:focus, &:active {
      border: solid 3px $red;
    }

    @include mq($from: gel-bp-s) {
      background-position: 20% 20%;
    }
  }

  &__featured-text-wrapper {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
    transform: translate(-50%, -80%);
    position: absolute;
    top: 50%;
    left: 50%;

    @include mq($from: gel-bp-s) {
      width: auto;
      text-align: right;
      margin: 20px 10px;
      position: relative;
      top: 0;
      left: 0;
      transform: translate(0, 0);
    }

    @include mq($from: gel-bp-m) {
      margin: 30px;
    }

    @include mq($from: gel-bp-l) {
      margin: 70px;
    }
  }

  &__featured-text {
    @include headline-font;
    display: inline-block;
    color: $white;
    background-color: $black;
    padding: 0 10px;
    font-size: 1.5rem;

    @include mq($from: gel-bp-m) {
      font-size: 2rem;
    }

    @include mq($from: gel-bp-l) {
      font-size: 3rem;
    }
  }

  &__featured-large-text {
    display: inline-block;
    position: relative;
    font-size: 4rem;

    @include mq($from: gel-bp-s) {
      left: 15px;
    }

    @include mq($from: gel-bp-m) {
      font-size: 3.5rem;
      left: 25px;
    }

    @include mq($from: gel-bp-l) {
      font-size: 4rem;
    }
  }

  &__covid-banner {
    margin-top: 5px;
    padding: 10px;
    background-color: $light-grey;
    text-align: center;
  }

  &__info {
    display: none;

    @include mq($from: gel-bp-s) {
      display: block;
    }

    &__section {
      display: inline-block;
      text-align: center;
      color: $medium-grey;
      margin: 30px 0;
    }

    &__image {
      width: 60px;
      display: block;
      margin: 0 auto 20px auto;
    }

    &__text {
      margin: 0 auto;
      font-size: 0.8rem;
      width: 80%;

      @include mq($from: gel-bp-m) {
        font-size: 1rem;
        width: 60%;
      }
    }
  }

  &__cta {
    &__wrapper {
      margin-top: 16px;
      text-decoration: none;

      &:hover, &:focus, &:active {
        background-color: transparent;

        .home-page__cta__text {
          color: $white;
          background-color: $accessible-red;
        }
      }
    }

    &__image {
      display: block;
      width: 100%;
      height: 250px;
      object-fit: cover;

      &--christmas {
        object-position: 100% 60%;
      }
    }

    &__text {
      @include headline-font;
      font-size: 1.5rem;
      background-color: $light-grey;
      text-align: center;
    }
  }
}
