.category-page {
  &__subnav {
    margin: 1rem 0;
    text-align: center;
    font-weight: 300;

    &__list {
      list-style: none;
    }

    &__item {
      display: inline-block;
      margin: .5rem 1rem;
    }

    &__link {
      text-decoration: none;
      padding: 5px;

      &--active,
      &:active,
      &:hover,
      &:focus {
        @include nice-underline(5px);
      }
    }
  }
}
