.cookie-banner {
  background-color: $white;
  color: $black;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  border-top: 5px solid $black;
  z-index: 100;

  &__wrapper {
    width: 100%;
    margin: 15px auto 10px auto;
    padding: 0 10px;

    @include mq($from: gel-bp-l) {
      width: 80%;
    }
  }

  &__text-wrapper {
    margin-bottom: 10px;

    @include mq($from: gel-bp-l) {
      display: inline-block;
      width: 50%;
      vertical-align: middle;
    }
  }

  &__heading {
    @include headline-font;
    font-size: 1.4rem;

    @include mq($from: gel-bp-l) {
      font-size: 2rem;
    }
  }

  &__buttons {
    @include mq($from: gel-bp-l) {
      display: inline-block;
      text-align: right;
      width: 50%;
    }
  }

  &__button {
    @include headline-font;
    display: inline-block;
    background-color: $black;
    padding: 15px;
    color: $white;
    font-size: 1.2rem;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    width: 45%;
    margin: 0 5px 0 0;

    &:focus {
      border-bottom: 2px solid $white;
      outline: 0;
    }
  }
}
