.header {
  padding: 25px 0 0;
  text-align: center;

  &__tagline {
    @include headline-font;
    font-size: 1.5rem;
    width: 80%;
    margin: 0 auto;

    @include mq($from: gel-bp-m) {
      width: 100%;
    }
  }

  &__link {
    display: inline-block;
    padding: 5px;

    &:hover, &:active, &:focus {
      background: none;
    }
  }
}
