.nav {
  display: block;
  padding: 25px 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;

  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block;
    padding: 0 20px;
  }

  &__link {
    display: block;
    margin: 5px 0;
    padding: 5px;
    text-decoration: none;

    &--active,
    &:active,
    &:hover,
    &:focus {
      @include nice-underline(5px);
    }
  }
}
