.notice {
  background-color: $focus;
  width: 90%;
  margin: 20px auto;
  text-align: center;
  padding: 10px;

  @include mq($from: gel-bp-m) {
    width: 60%;
  }

  &__title {
    @include headline-font;
  }

  &__text {
    font-size: 0.9rem;

    a:focus {
      text-decoration: none;
      border-bottom: 2px solid black;
    }
  }
}
