@mixin nice-underline($padding: 0px) {
  position: relative;
  text-decoration: none;

  &::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: $padding;
    right: $padding;
    border-bottom: 1px solid $black;
  }

  &:focus {
    outline: 0;
    background-color: $focus;
  }
}

@mixin gel-hide-until ($mq) {
  @include mq($until: $mq) {
    display: none !important;
  }
}

@mixin gel-hide-from ($mq) {
  @include mq($from: $mq) {
    display: none !important;
  }
}

.gel-hide-lte {
  &\@xs {
    @include gel-hide-until(gel-bp-s);
  }

  &\@s {
    @include gel-hide-until(gel-bp-m);
  }

  &\@m {
    @include gel-hide-until(gel-bp-l);
  }

  &\@l {
    @include gel-hide-until(gel-bp-xl);
  }

  &\@xl {
    @include gel-hide-until(gel-bp-xxl);
  }
}

.gel-hide-gte {
  &\@s {
    @include gel-hide-from(gel-bp-s);
  }

  &\@m {
    @include gel-hide-from(gel-bp-m);
  }

  &\@l {
    @include gel-hide-from(gel-bp-l);
  }

  &\@xl {
    @include gel-hide-from(gel-bp-xl);
  }

  &\@xxl {
    @include gel-hide-from(gel-bp-xxl);
  }
}
