@mixin nice-underline($padding: 0px) {
  position: relative;
  text-decoration: none;

  &::after {
    position: absolute;
    content: '';
    bottom: calc(-1px + #{$padding});
    left: $padding;
    right: $padding;
    border-bottom: 1px solid $black;
  }
}
