@mixin nice-underline($padding: 0px) {
  position: relative;
  text-decoration: none;

  &::after {
    position: absolute;
    content: '';
    bottom: ($padding / 2);
    left: $padding;
    right: $padding;
    border-bottom: 1px solid $black;
  }

  &:focus {
    outline: 0;
    background-color: $focus;
  }
}

@mixin nice-underline-inverse($padding: 0px) {
  position: relative;
  text-decoration: none;
  color: $white;

  &::after {
    position: absolute;
    content: '';
    bottom: ($padding / 2);
    left: $padding;
    right: $padding;
    border-bottom: 1px solid $white;
  }

  &:focus {
    outline: 0;
    background-color: $focus;
    color: $black;

    &::after {
      border-bottom: 1px solid $black;
    }
  }
}

@mixin headline-font {
  font-family: "Timothy", cursive;
  font-weight: normal;
}

@mixin cta-button {
  @include headline-font;
  display: inline-block;
  color: $white;
  background-color: $accessible-red;
  padding: 20px 50px;
  text-decoration: none;
  font-size: 2rem;
  border-bottom: 5px solid transparent;
  text-align: center;

  &:hover {
    background-color: $focus;
    color: $black;
  }

  &:focus {
    color: $black;
    border-bottom: 5px solid $black;
  }
}
