$black: #111;
$white: #fff;
$light-grey: #f4f4f4;
$medium-grey: #757575;
$image-background: #ececec;
$red: #ed664c;
$accessible-red: #C54D34; // For use as a background with white text
$focus: #ffbaad;

// BBC GEL Grid and Breakpoints from https://github.com/bbc/gel-grid
$gel-grid-enable--markup-output: true;
$gel-grid-columns: 1, 2, 3, 4, 5;
@import "~gel-sass-tools/sass-tools";
@import "~sass-mq/mq";
@import "~gel-grid/grid";

@import "./mixins";

* {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1;
  color: inherit;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}

body {
  background: $white;
  color: $black;
  min-width: 320px;
  margin: 0 auto;
  font-family: "Lato", sans-serif;
}

p, li {
  line-height: 1.5;
}

a {
  padding: 2px 0;

  &:focus {
    outline: 0;
    background-color: $focus;
  }
}

@font-face {
  font-family: "Timothy";
  src: url("/fonts/timothy.woff2") format("woff2"),
    url("/fonts/timothy.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@import "./components/additionalInfo";
@import "./components/header";
@import "./components/nav";
@import "./components/footer";
@import "./components/productItem";
@import "./components/faq";
@import "./components/categoryNav";
@import "./components/cookieBanner";
@import "./components/notice";
@import "./components/breadcrumbs";
@import "~react-responsive-carousel/lib/styles/carousel.min.css";
@import "./components/image-carousel";

.page-container {
  min-height: calc(100vh - #{$footer-height-xs});

  @include mq($from: gel-bp-m) {
    min-height: calc(100vh - #{$footer-height-m});
  }
}

.page-title {
  @include headline-font;
  text-align: center;
  font-size: 2.5rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

h3 {
  font-weight: bold;
  font-size: 1rem;
}

.skiplink {
  position: absolute;
  left: -99999999px;

  &:focus {
    left: 0;
    z-index: 1;
    width: 100%;
    text-align: center;
    padding: 5px;
    outline: 0;
    background-color: $focus;
  }
}

.screenreader-only {
  position: absolute;
  left:-9999px;
}

.global-banner {
  background-color: $accessible-red;
  color: $white;
  padding: 5px;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 600;
}

.featured-item {
  margin-bottom: 30px;

  &__image {
    display: inline-block;
    width: 50%;
    height: 400px;
    object-fit: cover;
    padding-left: 0 !important;
  }

  &__text-wrapper {
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;

    @include mq($from: gel-bp-m) {
      margin-top: 0;
    }
  }

  &__headline-wrapper {
    @include headline-font;
    color: $black;
    position: relative;

    @include mq($from: gel-bp-l) {
      left: -60px;
      top: 10px;
    }
  }

  &__text {
    background-color: $white;
    font-size: 3rem;
    padding: 5px 0;

    @include mq($from: gel-bp-l) {
      font-size: 4rem;
    }
  }

  &__large-text {
    display: inline-block;
    position: relative;
    font-size: 3rem;

    @include mq($from: gel-bp-l) {
      left: 15px;
      font-size: 6rem;
    }
  }

  &__description {
    font-size: 1.3rem;

    @include mq($from: gel-bp-l) {
      margin: 20px;
    }
  }

  &__button-wrapper {
    text-align: center;
    margin-top: 30px;
  }

  &__button {
    @include cta-button;
  }
}

.mailing-cta {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
  border-top: 1px solid $red;

  @include mq($from: gel-bp-s) {
    width: 100%;
  }

  &__frame {
    width: 90%;
    margin: 0 auto;

    @include mq($from: gel-bp-m) {
      width: 50%;
    }
  }

  &__title {
    @include headline-font;
    font-size: 2rem;
    margin: 20px 0 10px 0;
  }

  &__text {
    width: 70%;
    margin: 0 auto;
  }
}

@import "./pages/category";
@import "./pages/product";
@import "./pages/contact";
@import "./pages/privacy-policy";
@import "./pages/home";
@import "./pages/accessibility";
@import "./pages/cookies";
@import "./pages/free-download";
@import "./pages/papers";
@import "./pages/hello";
@import "./pages/delivery-returns";
@import "./pages/blogs";
@import "./pages/blog-post";
@import "./pages/newsletter";
