$black: #111;
$white: #fff;
$light-grey: #F4F4F4;
$red: #ED664C;

// BBC GEL Grid and Breakpoints from https://github.com/bbc/gel-grid
$gel-grid-enable--markup-output: true;
$gel-grid-columns: 1, 2, 3, 4, 5;
@import '~gel-sass-tools/sass-tools';
@import '~sass-mq/mq';
@import '~gel-grid/grid';

@import './mixins';

* {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1;
  color: inherit;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  background: $white;
  color: $black;
  min-width: 320px;
  margin: 0 auto;
  font-family: "Lato", sans-serif;
}

@font-face {
  font-family: "Timothy";
  src: url("/fonts/timothy.woff2") format("woff2"),
    url("/fonts/timothy.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@import "./components/header";
@import "./components/nav";
@import "./components/footer";

.page-container {
  min-height: calc(100vh - #{$footer-height-xs});

  @include mq($from: gel-bp-m) {
    min-height: calc(100vh - #{$footer-height-m});
  }
}
